<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    some template
  </title>
  <script type="text/javascript">
    function setup(){
      var datafromserver =
      alert(datafromserver)
    }
    window.addEventListener('load','setup');
  </script>
</head>
<body>
  <% for (var i =0); i< thedata.length; i++){ %>
  <div><%= thedata[i] %> </div>
  <% } %>
</body>
</html>
