body {
  /* background-color: black; */
  color: white;
  float: left;
  font: arial;


}

html {
  background-color: black;
}

.center {
  text-align: center;
}

#thebutton{
  display: none;
}

#thevideo{
  display: none;
}

#myProgress {
    width: 100%;
    background-color: grey;
    display: none;
}
#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
    display: none;
}

#imagefile{
  display: none;
}

#facepic{
  display: none;
}

#scanbutton{
  display: none;
}

#seebutton{
  display: none;
}
