body {
  background-color: black;
  color: white;
  float: left;
  font: arial;


  /* background-image: url("/assets/palms.gif");
  background-repeat: repeat; */

}

.center {
  text-align: center;
}

#thebutton{
  display: none;
}

/* #palms {
  background-image: url("/assets/palms.gif");
  background-repeat: repeat-y;
} */
